<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>Drupal 8 Theme System - hook_theme() to Twig template</title>

    <meta name="description" content="A framework for easily creating beautiful presentations using HTML">
    <meta name="author" content="Hakim El Hattab">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="css/reveal.min.css">
    <link rel="stylesheet" href="css/theme/theme-system.css" id="theme">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="lib/css/ir_black.css">

    <!-- If the query includes 'print-pdf', include the PDF print sheet -->
    <script>
      if( window.location.search.match( /print-pdf/gi ) ) {
        var link = document.createElement( 'link' );
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = 'css/print/pdf.css';
        document.getElementsByTagName( 'head' )[0].appendChild( link );
      }
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="reveal">

      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">

        <section id="presenters" class="camp-slide" data-state="first-slide">
          <section id="main-slide">
            <div class="camp--branding">
              <h1 class="camp--title">Drupal 8 <br> Theme System</h1>
            </div>
            <div class="camp--presentation">
              <h2 class="presentation--title">hook_theme() to<br>  Twig template</h2>
              <h4 class="speaker--name">Scott Reeves &amp; Joël Pittet</h4>
            </div>
          </section>

          <section>
            <h1 class="slide--title">Scott Reeves</h1>
            <div class="presenter l-fifty">
              <div class="presenter--info">
                <!-- <h3 class="presenter--info__name"></h3> -->
                <figure>
                  <img src="images/presenters/Cottser.jpg" alt="Scott Reeves" class="img--bordered" />
                  <figcaption>@Cottser</figcaption>
                </figure>
              </div>
            </div>
            <div class="l-fifty">
              <ul class="presenter--info__facts">
                <li class="fact fragment roll-in">Developer at Digital Echidna</li>
                <li class="fact fragment roll-in">Drupal 8 theme system<br /> co-maintainer</li>
                <li class="fact fragment roll-in">Drupal core mentor</li>
                <li class="fact fragment roll-in">Likes beans</li>
              </ul>
              <img src="images/presenters/echidna.png" alt="Digital Echidna" class="image--plain echidna-logo" />
            </div>
          </section>

          <section>

            <h1 class="slide--title">Joël Pittet</h1>
            <div class="l-fifty">
              <ul class="presenter--info__facts">
                <li class="fact fragment roll-in">Building Websites since 2001ish</li>
                <li class="fact fragment roll-in">Front and Back End Developer</li>
                <li class="fact fragment roll-in">Drupal 8 Core Theme System Maintainer</li>
                <li class="fact fragment roll-in">And obviously love perogies</li>
              </ul>

              <i class="pittet-logo"></i>
            </div>
            <div class="presenter l-fifty">
              <div class="presenter--info">
                <!-- <h3 class="presenter--info__name"></h3> -->
                <figure>
                  <img src="images/presenters/joel.jpg" alt="Joël Pittet" class="img--bordered" />
                  <figcaption>@joelpittet</figcaption>
                </figure>
              </div>
            </div>

            <aside class="notes">
              <p>1:30 - 5:00</p>
              <p>Now we can hit 'B' and gauge the personas in the audience. Ask people to raise their hand if they are:</p>

              <ul>
                <li>Site builders</li>
                <li>Themers</li>
                <li>Developers</li>
                <li>DevOps</li>
                <li>Other!</li>
              </ul>
            </aside>
          </section>

        </section>

        <section id="theme-layer-changes" class="title-slide">
          <section>
            <h1>Drupal 8 <br />theme layer changes</h1>
          </section>
          <section>
            <h2 class="minus">Template process layer</h2>
            <p class="fragment">…is gone!</p>
            <aside class="notes">
              <p>5:00 - 8:00</p>
              <ul>
                <li>The main reason for the process layer was to flatten strings into HTML.</li>
                <li>In Drupal 8 we prefer "lazy" rendering things as late as possible, which usually gets called from the template.</li>
              </ul>
            </aside>
          </section>
          <section>
            <h2 class="minus">Theme functions</h2>
            <p class="fragment">…are being converted to Twig templates…<br>
            <span class="fragment">12 remaining!</span><br>
            <span class="fragment">(and other formats).</span>
            </p>
            <aside class="notes">
              <p>8:00 - 11:00</p>
              <li>Theme functions are so Drupal 7 (effectively deprecated, people will yell at you)</li>
              <li>Markup belongs in templates, not in PHP strings. Your IDE/Text Editor will reward you by syntax highlighting markup and much less string concatenation and quote escaping is needed.</li>
              <li>We have 20 left to convert.</li>
            </aside>
          </section>

          <section>
            <h2 class="plus">Theme suggestion hooks</h2>
            <p>Drupal 7:</p>
            <pre><code data-trim class="php">
&lt;?php
/**
 * Implements hook_preprocess_HOOK() for node templates.
 */
function MYTHEME_preprocess_node(&$variables) {
  $variables['theme_hook_suggestions'][] = 'node__' . 'my_first_suggestion';
  $variables['theme_hook_suggestions'][] = 'node__' . 'my_second_more_specific_suggestion';
}
            </code></pre>

            <p>Drupal 8:</p>
            <pre><code data-trim class="php">
&lt;?php
/**
 * Implements hook_theme_suggestions_HOOK_alter() for node templates.
 */
function MYTHEME_theme_suggestions_node_alter(array &$suggestions, array $variables) {
  $suggestions[] = 'node__' . 'my_first_suggestion';
  $suggestions[] = 'node__' . 'my_second_suggestion';
}
            </code></pre>
            <aside class="notes">
              <p>11:00 - 14:00</p>
              <li>In Drupal 7 you could manipulate theme suggestions during preprocess, but by this point it might already be too late, or you've already done unnecessary preprocessing.</li>
              <li>Drupal 8 splits out the manipulation of theme hook (template) suggestions into separate hooks.</li>
              <li>You can see template suggestions in action when we talk about Twig debug in a few minutes.</li>
            </aside>
          </section>

          <section>
            <h2>Goodbye theme(), hello <br>render arrays</h2>
            <h4>Drupal 7:</h4>
            <pre><code class="php">&lt;?php
$variables['list'] = theme('item_list', array(
  'items' => $items,
));
</code></pre>
            <h4>Drupal 8:</h4>
            <pre><code class="php">&lt;?php
$variables['list'] = [
  '#theme' => 'item_list',
  '#items' => $items,
];
</code></pre>
            <aside class="notes">
              <p>14:00 - 16:00</p>
              <p>Instead of the <strong>list</strong> variable being a flat string of HTML, it's a render array that gets passed to the template and rendered from there.</p>
            </aside>
          </section>

          <section>
            <h2>Attributes</h2>

            <div>
              All the attributes:
              <pre><code>&lt;div{{ attributes }}&gt;</code></pre>
            </div>

            <div class="fragment">
              Please don't do this, you will end up with yucky whitespace:
              <pre class="fragment current-show"><code>&lt;div {{ attributes }}&gt;</code></pre>
              <pre class="fragment"><code>&lt;div✖{{ attributes }}&gt;</code></pre>
            </div>

            <div class="fragment">
              Splitting out the class attribute:
              <pre><code>&lt;div class="myclass {{ attributes.class }}"{{ attributes|without('class') }}&gt;</code></pre>
            </div>
            <aside class="notes">
              <p>16:00 - 19:00</p>
              <p>Attributes contain the attributes and also know how to print them properly. If you are printing the entire set of attributes, don't prepend a space.
            </aside>
          </section>

          <section>
            <h2>Attributes cont'd</h2>

            <div>
              Class manipulation:
              <pre><code>&lt;div{{ attributes.addClass('hello').removeClass('goodbye') }}&gt;</code></pre>
            </div>

            <div class="fragment">
              Testing:
              <pre><code>{% if attributes.hasClass('field-label-inline') %}
  {# Do something special here. #}
{% endif %}</code></pre>
            </div>
            <aside class="notes">
              <p>19:00 - 21:00</p>
            </aside>
          </section>

          <section>
            <h2>Attributes cont'd</h2>

            <div>
              Set attribute:
              <pre><code>&lt;div{{ attributes.setAttribute('id', 'eye-d') }}&gt;</code></pre>
            </div>

            <div>
              Remove attribute:
              <pre><code>&lt;div{{ attributes.removeAttribute('id') }}&gt;</code></pre>
            </div>
            <aside class="notes">
              <p>21:00 - 21:30</p>
            </aside>
          </section>

          <section>
            <h2>Print what you want,<br> when you want</h2>

            <div>
              <div class="fragment l-fifty">
                <h4>Drupal 7:</h4>
                <pre><code class="php">&lt;?php
// We hide the comments and links
// to print them later.
hide($content['comments']);
hide($content['links']);
print render($content);
// Render calls show() on the element.
print render($content['links']);
// To get back links with the content.
show($content['links']);
// Prints content with links yet
// without comments :(
print render($content);
?&gt;</code></pre>
              </div>

              <div class="fragment l-fifty">
                <h4>Drupal 8:</h4>
                <pre><code>{# Print without comments and links #}
{{ content|without('comments', 'links') }}

{# Print only links #}
{{ content.links }}

{# Print everything without comment! #}
{{ content|without('comments') }}

{# Print everything YAY :) #}
{{ content }}
</code></pre>
              </div>

            </div>
            <aside class="notes">
              <p>21:30 - 23:00</p>
            </aside>
          </section>

          <section class="twig">
            <h2 class="plus">Oh yeah, and Twig!</h2>
            <aside class="notes">
              <p>23:00 - 25:00</p>
              <ul>
                <li>Twig is a flexible, fast, and secure template engine for PHP.</li>
                <li>The Twig engine and initial integration code was committed during BADCamp in November 2012.</li>
                <li>The conversions of .tpl.php to .html.twig files were committed during DrupalCon Portland in May 2013 and Twig is now the default template engine for Drupal 8.</li>
              </ul>
            </aside>
          </section>
        </section>

        <section>
          <section>
            <p>services.yml:</p>
            <pre><code>parameters:
  twig.config:
    debug: true</code></pre>
            <p>Example output:</p>
            <pre><code data-trim class="html">
&lt;!-- THEME DEBUG --&gt;
&lt;!-- CALL: _theme('block') --&gt;
&lt;!-- FILE NAME SUGGESTIONS:
   * block--bartik-powered.html.twig
   * block--system-powered-by-block.html.twig
   * block--system.html.twig
   x block.html.twig
--&gt;
&lt;!-- BEGIN OUTPUT from 'core/modules/block/templates/block.html.twig' --&gt;
&lt;div class=&quot;block block-system contextual-region&quot; id=&quot;block-bartik-powered&quot; role=&quot;complementary&quot;&gt;
  &lt;div data-contextual-id=&quot;block:block=bartik_powered:&quot;&gt;&lt;/div&gt;
  &lt;div class=&quot;content&quot;&gt;
    &lt;span&gt;Powered by &lt;a href=&quot;http://drupal.org&quot;&gt;Drupal&lt;/a&gt;&lt;/span&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;!-- END OUTPUT from 'core/modules/block/templates/block.html.twig' --&gt;
            </code></pre>
            <aside class="notes">
              <p>25:00 - 27:00</p>
            </aside>
          </section>

          <section>
            <h2>Drupal 7.33+</h2>
            <p>settings.php:</p>
            <pre><code>$conf['theme_debug'] = TRUE;</code></pre>
            <p>Example output:</p>
            <pre><code data-trim class="html">
&lt;!-- THEME DEBUG --&gt;
&lt;!-- CALL: theme('block') --&gt;
&lt;!-- FILE NAME SUGGESTIONS:
   * block--system--powered-by.tpl.php
   * block--system.tpl.php
   * block--footer.tpl.php
   x block.tpl.php
--&gt;
&lt;!-- BEGIN OUTPUT from 'modules/block/block.tpl.php' --&gt;
&lt;div id=&quot;block-system-powered-by&quot; class=&quot;block block-system&quot;&gt;


  &lt;div class=&quot;content&quot;&gt;
    &lt;span&gt;Powered by &lt;a href=&quot;https://www.drupal.org&quot;&gt;Drupal&lt;/a&gt;&lt;/span&gt;  &lt;/div&gt;
&lt;/div&gt;

&lt;!-- END OUTPUT from 'modules/block/block.tpl.php' --&gt;
            </code></pre>
            <aside class="notes">
              <p>27:00 - 28:00</p>
            </aside>
          </section>
        </section>

        <section id="sandwich" class="title-slide">
          <section>
            <h1>Sandwiches.</h1>
            <p class="fragment"><a href="https://github.com/DrupalTwig/sandwich">https://github.com/DrupalTwig/sandwich</a></p>
            <aside class="notes">
              <p>28:00 - 29:00</p>
              <p>We were hungry when we came up with this example.</p>
            </aside>
          </section>

          <section class="hook-theme">
            <h2>Define using <code>hook_theme()</code></h2>
            <pre class="fragment current-show"><code data-trim class="php">
&lt;?php
/**
 * Implements hook_theme().
 */
function sandwich_theme() {
  return array(
    'sandwich' => array(
      'variables' => array(
        'attributes' => array(),
        'name' => '',
        'bread' => '',
        'cheese' => '',
        'veggies' => array(),
        'protein' => '',
        'condiments' => array(),
      ),
      // 'template' is the default in Drupal 8!
      'template' => 'sandwich',
    ),
  );
}
            </code></pre>
            <pre class="fragment"><code data-trim class="php">
&lt;?php
/**
 * Implements hook_theme().
 */
function sandwich_theme() {
  return [
    'sandwich' => [
      'variables' => [
        'attributes' => [],
        'name' => '',
        'bread' => '',
        'cheese' => '',
        'veggies' => [],
        'protein' => '',
        'condiments' => [],
      ],
    ],
  ];
}
            </code></pre>
          </section>

          <section>
            <h2>Build your render array</h2>
            <pre><code data-trim class="php">
&lt;?php
/**
 * Builds a sandwich.
 */
public function build() {
  return [
    '#theme' => 'sandwich',
    '#name' => $this->t('Chickado'),
    '#attributes' => [
      'id' => 'best-sandwich',
      'style' => 'float: left;',
      'class' => ['left', 'clearfix'],
    ],
    '#bread' => $this->t('Sourdough'),
    '#cheese' => $this->t('Gruyère'),
    '#veggies' => [$this->t('Avocado'), $this->t('Red onion'), $this->t('Romaine')],
    '#protein' => $this->t('Chicken'),
    '#condiments' => [$this->t('Mayo'), $this->t('Dijon')],
  ];
}
            </code></pre>
            <p>Pass in variables using #-prefixed keys.</p>
            <aside class="notes">
              <p>- 31:00</p>
            </aside>
          </section>

          <section>
            <h2>Markup your Twig template</h2>
            <pre><code data-trim>
&lt;section{{ attributes }}&gt;
  &lt;h2&gt;{{ name }}&lt;/h2&gt;
  {% if bread %}
    &lt;p&gt;&lt;strong&gt;Bread:&lt;/strong&gt; {{ bread }}&lt;/p&gt;
  {% endif %}

  {% if protein %}
    &lt;p&gt;&lt;strong&gt;Protein:&lt;/strong&gt; {{ protein }}&lt;/p&gt;
  {% endif %}

  {% if cheese %}
    &lt;p&gt;&lt;strong&gt;Cheese:&lt;/strong&gt; {{ cheese }}&lt;/p&gt;
  {% endif %}

  {% if veggies %}
    &lt;strong&gt;Vegetables:&lt;/strong&gt;
    &lt;ul&gt;
      {% for veg in veggies %}
        &lt;li&gt;{{ veg }}&lt;/li&gt;
      {% endfor %}
    &lt;/ul&gt;
  {% endif %}

  {% if condiments %}
    &lt;strong&gt;Condiments:&lt;/strong&gt;
    &lt;ul&gt;
      {% for condiment in condiments %}
        &lt;li&gt;{{ condiment }}&lt;/li&gt;
      {% endfor %}
    &lt;/ul&gt;
  {% endif %}
&lt;/section&gt;
            </code></pre>
          </section>

          <section>
            <h2>Voilà!</h2>
            <img src="images/sandwich.png" alt="Rendered Chickado Sandwich" class="img--bordered img--tall" />
            <aside class="notes">
              <p>That's the bare minimum for most practical use cases. But what if you need to do more, or if you're altering themeable output that someone else has defined? Let's dig a bit deeper.</p>
              <p>Don't make a template for condiments. Real life example: toolbar.</p>
            </aside>
          </section>
        </section>

        <section id="more-sandwiches" class="title-slide">
          <section>
            <h2>Overview of Drupal 7<br> rendering flow</h2>
            <ol>
              <li><code>drupal_render()</code>
                <ol start="2">
                  <li><code>#pre_render</code></li>
                  <li>
                    <code>theme()</code>
                    <ol start="4">
                      <li>Preprocess functions (and suggestions)</li>
                      <li>Template/theme function is rendered</li>
                    </ol>
                  </li>
                  <li value="7"><code>#post_render</code></li>
                </ol>
              </li>
            </ol>
            <aside class="notes">
              <p>33:00 - 37:00</p>
              <p><code>drupal_render()</code> is called on the render array. Any defined <code>#pre_render</code> callbacks are called. <code>drupal_render()</code> calls the now internal <code>_theme()</code> function.</p>
              <p>After <code>_theme()</code> does its thing, <code>#post_render</code> callbacks can massage the resulting string.</p>
            </aside>
          </section>

          <section>
            <h2>Overview of Drupal 8<br> rendering flow</h2>
            <ol>
              <li><code>\Drupal::service('renderer')->render()</code>
                <ol start="2">
                  <li><code>#pre_render</code></li>
                  <li>
                    <code>\Drupal::theme()->render()</code>
                    <ol start="4">
                      <li>Theme suggestion hooks</li>
                      <li>Preprocess functions</li>
                      <li>Template is rendered</li>
                    </ol>
                  </li>
                  <li value="7"><code>#post_render</code></li>
                </ol>
              </li>
            </ol>
            <aside class="notes">
              <p>37:00 - 38:00</p>
              <p>Overall pretty much the same thing, just drupal_render() and theme() got moved to service classes.</p>
            </aside>
          </section>
        </section>

        <section id="twig-magic" class="title-slide">
          <section>
            <h2>Twig magic</h2>
            <p><code>{{ sandwich.cheese }}</code></p>
<pre><code data-trim class="php">
// Array key.
$sandwich['cheese'];
// Object property.
$sandwich->cheese;
// Also works for magic get (provided you implement magic isset).
$sandwich->__isset('cheese'); &amp;&amp; $sandwich->__get('cheese');
// Object method.
$sandwich->cheese();
// Object get method convention.
$sandwich->getCheese();
// Object is method convention.
$sandwich->isCheese();
// Method doesn't exist/dynamic method.
$sandwich->__call('cheese');
</code></pre>


            <aside class="notes">
              <p>38:00 - 40:00</p>
              <p>Show Kint demo.</p>
              <ul>
                <li>checks if <code>sandwich</code> is an array and <code>cheese</code> a valid element;</li>
                <li>if not, and if <code>sandwich</code> is an object, checks that <code>cheese</code> is a valid property;</li>
                <li>if not, and if <code>sandwich</code> is an object, checks that <code>cheese</code> is a valid method;</li>
                <li>if not, and if <code>sandwich</code> is an object, checks that <code>getBar</code> is a valid method;</li>
                <li>if not, and if <code>sandwich</code> is an object, checks that <code>isBar</code> is a valid method;</li>
                <li>if not, returns a <code>null</code> value.</li>
              </ul>
            </aside>

          </section>
        </section>

        <section id="evaluation" class="title-slide">
          <h2>What did you think?</h2>
          <p>Evaluate our session:<br> <a href="https://events.drupal.org/node/321">https://events.drupal.org/node/321</a></p>
        </section>

        <section id="thanks" class="title-slide">
          <h1>Thanks!</h1>
          <p>@Cottser</p>
          <p>@joelpittet</p>
          <p><a href="http://drupaltwig.org">drupaltwig.org</a></p>
          <p>IRC: #drupal-twig</p>
          <p>Twitter: #drupaltwig</p>
          <div class="fragment">
            <h1>Questions?</h1>
          </div>
        </section>

        <!--
        <section id="others" class="title-slide">
          <h1>Related</h1>
          <p>
            <a href="https://austin2014.drupal.org/session/twig-friendly-curl-braces-invade-your-templates" title="Twig: Friendly Curl Braces invade your Templates! | DrupalCon Austin 2014">Twig: Friendly Curl Braces invade your Templates!</a>
            <br />
            Tuesday &middot; 5pm&ndash;6pm
          </p><br />
          <p>
            <a href="https://austin2014.drupal.org/session/markup-aint-easy-or-how-i-learned-love-object-oriented-renderapi" title="Markup Ain&amp;#039;t Easy or: How I Learned to love An Object-Oriented RenderAPI | DrupalCon Austin 2014">Markup Ain't Easy or: How I Learned to love An Object-Oriented RenderAPI</a>
            <br/>
            Wednesday &middot; 1pm&ndash;2pm
          </p><br />
          <p>
            <a href="https://austin2014.drupal.org/session/twig-playground" title="Twig Playground | DrupalCon Austin 2014">Twig Playground</a><br/>
            Wednesday &middot; 3:45pm&ndash;4:45pm
          </p>
        </section>

        <section id="eval" class="title-slide">
          <h1>What did you think?</h1>
          <p>Evaluate our session:</p>
          <p><a href="http://austin2014.drupal.org/schedule" target="_blank">austin2014.drupal.org/schedule</a></p>
        </section>
        -->

      </div>

    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.min.js"></script>

    <script>

      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

        // Parallax scrolling
        // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
        // parallaxBackgroundSize: '2100px 900px',

        // Optional libraries used to extend on reveal.js
        dependencies: [
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
          { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
      });

    </script>

  </body>
</html>
