// Default mixins and settings -----------------
@import "../template/mixins";

// Grids for layout classes.
@import "breakpoint/breakpoint";
@import "singularitygs/singularitygs";

/**
 * Solarized Light theme for reveal.js.
 * Author: Achim Staebler
 *
 * Solarized Overrides.
 * Author: Joel Pittet & Scott Reeves
 *
 */

// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@font-face {
	font-family: 'League Gothic';
	src: url('../../lib/font/league_gothic-webfont.eot');
	src: url('../../lib/font/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../../lib/font/league_gothic-webfont.woff') format('woff'),
		 url('../../lib/font/league_gothic-webfont.ttf') format('truetype'),
		 url('../../lib/font/league_gothic-webfont.svg#LeagueGothicRegular') format('svg');

	font-weight: normal;
	font-style: normal;
}

// @import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

/**
 * Solarized colors by Ethan Schoonover
 */
html * {
	color-profile: sRGB;
	rendering-intent: auto;
}

// Solarized colors
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

// Override theme settings (see ../template/settings.scss)
$mainColor: $base00;
$headingColor: $base01;
$headingTextShadow: none;
$backgroundColor: $base3;
$linkColor: $blue;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: $magenta;

// Background generator
@mixin bodyBackground() {
	@include radial-gradient( rgba($base3,1), rgba(lighten($base3, 20%),1) );
}

@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,500,700,600);

$mainFont: 'Raleway', 'Verdana', 'Lucida Grande', 'Gill Sans', 'Arial', 'Helvetica', sans-serif;
$headingFont: 'Raleway', 'Verdana', 'Lucida Grande', 'Gill Sans', 'Arial', 'Helvetica', sans-serif;
$mainFontSize: 30px;



// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------



// ---------------------------------------------
// Overrides
// ---------------------------------------------


// Joel's icon font.
@font-face {
  font-family: 'pittet';
  src: url('../../lib/font/pittet-regular-webfont.eot');
  src: url('../../lib/font/pittet-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../lib/font/pittet-regular-webfont.woff') format('woff'),
       url('../../lib/font/pittet-regular-webfont.ttf') format('truetype'),
       url('../../lib/font/pittet-regular-webfont.svg#pittetregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Image Styles
.reveal section img {
	margin: 15px 0px;

	border: 0;
	box-shadow: none;
	background: none;

	&.img--bordered {
		border: 4px solid $mainColor;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
		background: rgba(255,255,255,0.12);
	}

	-webkit-transition: all .2s linear;
	   -moz-transition: all .2s linear;
	    -ms-transition: all .2s linear;
	     -o-transition: all .2s linear;
	        transition: all .2s linear;
}



// List Styles
ul {
  li {
    list-style-type: square;
    padding-left: 0.5em !important;
  }
}


// Layout Styles
.l-fifty {
	&:nth-child(odd) {
		@include grid-span(1, 1, $grid: 2, $gutter: .05);
	}
	&:nth-child(even) {
		@include grid-span(1, 2, $grid: 2, $gutter: .05);

	}
}


// Reveal Overrides ----------------------------
.reveal {

  // .slides {
  //   text-align: left;
  //   margin-top: 60px;
  // }

  .title-slide {
    text-align: center;
  }

  h1, h2, h3, h4, h5, h6 {
	text-transform: inherit;
	text-shadow: none;
	font-weight: 500;
  }

  // h1 {
  //   font-weight: 900;
  // }

  // h2 {
  //   font-weight: 700;
  // }

  // h3, h4, h5, h6 {
  //   font-weight: 600;
  // }

  // p, li {
  //   font-weight: 500;
  // }

  // p {
  //   margin-bottom: 1.5em;
  // }

  .invert {
    h1, h2, h3, h4, h5, h6, p {
      color: #333;
      text-shadow:   6px rgba(255,255,255,1);
    }
  }


}

// Logo icon font.
i.pittet-logo {
  // display: inline-block;
  font-family: pittet;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  clear: both;
  display: block;
  margin: 1em;
  &:before {
    content: "J";
    font-size: 80px;
  }
}
